doctype html
html(lang="en")
  head
    title Node Starter App
    link(rel='stylesheet',href='/styles/bootstrap.min.css')
    link(rel='stylesheet',href='/styles/styles.css')
  body
    block content
    
    block scripts
